[submodule "sqlite"]
    path = submodules/sqlite
    url = https://github.com/sqlite/sqlite.git

[submodule "d2sqlite3"]
    path = submodules/d2sqlite3
    url = https://github.com/dlang-community/d2sqlite3.git
